<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>headers}}
            <p>This site was craeted by Ahalya. It uses weatherstack and poitionstack</p>
            <img class="robot" src="/images/robot.png">
        </div>
        {{>footers}}
    </body>
</html>